
{{> responsive-image id='author-thumb' class="diamond" format='square' size='fourth' title=(concat 'foto van ' body.author.name) external_id=body.author.thumbnail.external_id filename=body.author.thumbnail.filename object=body.author }}
<div class="author">{{body.author.first_name}} {{body.author.last_name}}</div>