<div class="post-intro--author">

    <div class="diamond post-intro--author--thumb">
        {{> responsive-image  format='square' size='fourth' title=(concat 'foto van ' body.author.name) image=body.author.thumbnail }}
    </div>

    <div class="post-intro--author--name">{{body.author.first_name}} {{body.author.last_name}}</div>

    <div class="post-intro--author--description">
        {{body.author.bio}}
    </div>

    <div class="post-intro--author--links">

    {{#if body.author.twitter}}
        <a class="no_border" href="https://twitter/{{body.author.twitter}}" target="_blank">
            {{> icon-twitter}}
        </a>
    {{/if}}


    </div>

</div>