<section id="comment-section" class="container-medium">

    <h2>
     Leave a comment ...
    </h2>

</section>

<section id="commenting">

    <div class="container-small">

        <div id="respondcontainer">
            {{> respond-form language=language}}
        </div>

        <div id="comments-wrapper">
            {{> comment-list comments=body.interaction.nested_comments}}
        </div>
    </div>

</section>
