<section id="comment-section" class="container-medium">

    {{> icon-comments }}

    <h2>
        {{ translate 'Reacties' language.code}}
    </h2>

</section>



    <section id="commenting">

        <div class="container-small">

            <div id="respondcontainer">
                {{> respond-form language=language}}
            </div>

            <div id="comments-wrapper">
                {{> comment-list comments=body.interaction.nested_comments}}
            </div>
        </div>

    </section>
</div>