<section id="comment-section" class="container">

    <h2>
        {{> icon-comments }}
        {{ translate 'Reacties' language.code}}
    </h2>


    {{ json body.interaction.nested_comments }}

   {{> blog-rating language=language}}

    <section id="commenting">

        <div class="container">

            <div id="respondcontainer">
                {{> respond-form language=language}}
            </div>

            <div id="comments-wrapper">
                {{> comment-list comments=body.interaction.nested_comments}}
            </div>
        </div>
    </section>
</div>