<div id="metamask_private">
    {{> icon-metamask }}
    <div id="welcome_message">
        Welcome <span></span>
    </div>
    <div id="network_warning">Please connect to Rinkeby test network</div>
</div>