<div id="dao-suber">

    <h2>BlockDam DAO</h2>
    <span>In 2019 the community will deploy a smart contract governance model based on the Suber-DAO. Read more ...</span>


    <div id="general_info" class="flex-row">

        <!--<span>Next assembly:</span>-->
    </div>

</div>