<div id="dao-bcd-token" class="flex-column">

    <h2>bcd token</h2>



    <div id="general_info" class="flex-row">

        <div class="flex-half">

            <div id="chart_supply" class="chart"></div>

            <ul>
                <li><span id="total_supply" class="inline_block"></span> BCD in supply</li>
                <li>80 BCD minted this week</li>
                <li>320 BCD minted last month</li>
            </ul>
        </div>

        <div class="flex-half">

            <div id="chart_rate" class="chart"></div>

            <ul>
                <li>Backed by 5 ETH</li>
                <li>1 BCD = 0,00267 ETH</li>
                <li>1 BCD = $0.24</li>
            </ul>
        </div>

    </div>

    <div id="personal_info">

            <div>
                This address holds <span></span> BCD tokens.
            </div>
    </div>

</div>