<div id="dao-bcd-token">

    1870 BC in supply<br/>
    80 BCD minted this week<br/>
    320 BCD minted last month<br/>
    Backed by 5 ETH<br/>
    1 BCD = 0,00267 ETH<br/>
    1 BCD = $0.24

</div>