<div id="dao-suber">

    <h2>BLOCKDAM dao</h2>
    <span>In 2019 we will create a governance model based on the Suber-DAO. Read more ...</span>


    <div id="general_info" class="flex-row">

        <span>Next assembly:</span>
    </div>

</div>