<div id="dao-suber">

    <h2>BlockDam DAO</h2>
    <span>In 2019 the community will deploy a smart contract governance model based on the Suber-DAO. Read more ...</span>

    <a href="https://rinkeby.aragon.org/#/joera.aragonid.eth/0x18ced4bb64eda87b77159827f9bdb03045f0a111" target="_blank" >Link to test dao on Aragon</a>


    <div id="general_info" class="flex-row">

        <!--<span>Next assembly:</span>-->
    </div>

</div>