<footer>

    <div class="container-medium">

        <div class="footer_half">

            Studio C Architecten
            Baarnseweg 40
            3735 MH Bosch en Duin
            KVK
            BTW nummer


        </div>

        <div class="footer_half">


            tel: 030 274 0898
            email: <a href="mailto:cb@studiocarchitecten.nl"></a>
            twitter: <a href="https://twitter.com/christianbouma">@christianbouma</a>

        </div>


    </div>
</footer>


{{> footer-scripts}}