<footer>

    <div class="container-medium">

        <div class="footer_half">

            Studio C Architecten<br/>
            Baarnseweg 40<br/>
            3735 MH Bosch en Duin<br/>
            KVK<br/>
            BTW nummer


        </div>

        <div class="footer_half">

            tel: <a href="tel:030 274 0898">030 274 0898</a>
            email: <a href="mailto:cb@studiocarchitecten.nl"></a><br/>
            twitter: <a href="https://twitter.com/christianbouma">@christianbouma</a>

        </div>


    </div>
</footer>


{{> footer-scripts}}