<footer>

    <div class="container-medium">

        <div class="footer_half">

            Studio C Architecten
            Adres
            KVK
            BTW nummer


        </div>

        <div class="footer_half">


            Telefoon
            Email
            Twitter

        </div>


    </div>
</footer>


{{> footer-scripts}}