<header>

    <div id="header-container" class="container-medium">

        <div id="woordmerk">
        <h1>BLOCKDAM</h1>
        <h2>Amsterdam's open decentralized autonomous organization</h2>
        </div>

        <nav>
            <ul>
                <li><a href="">Manifest</a></li>
                <li><a href="">Mee doen?</a></li>
            </ul>
        </nav>
    </div>

</header>