<header>

<<<<<<< HEAD
    <div id="header-container">

        <img id="background-img" src="https://ucarecdn.com/f841f9e6-526a-435c-993d-1444343ccafb/leidseplein.png" onload="showBackground();"  />

        <div id="background-veneer"></div>

        {{> woordmerk }}



    </div>

    {{> nav-shape-expanded }}

    <div id="header-gradient">


    </div>
=======
    <a href="/">
        <svg id="logo"class="yellow" width="33px" height="26px" viewBox="0 0 33 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <polygon class="cls-1" points="16.46 12.81 10.06 0 0.45 19.21 3.65 25.62 10.06 12.81 16.46 25.62 16.46 25.62 13.26 19.21"></polygon>
            <polygon class="cls-1" points="22.87 0 16.46 12.81 19.66 19.21 16.46 25.62 16.46 25.62 22.87 12.81 29.27 25.62 32.47 19.21"></polygon>
            <polygon class="cls-2" points="16.46 12.81 13.26 19.21 16.46 25.62 19.66 19.21"></polygon>
        </svg>
    </a>

    <h1 class="header-text"><a href="/">Manon Raats</a></h1>
    <h2 class="header-text">Communicatieprofessional</h2>

    {{> menu }}
>>>>>>> 520bbbdde1a47787279b15241fc2535f63369e90

</header>