<header>

    <div id="header-container" class="container-medium">

        <h1>BLOCKDAM</h1>

        <nav>
            <ul>
                <li><a href="">Manifest</a></li>
                <li><a href="">Mee doen?</a></li>
            </ul>
        </nav>
    </div>

</header>