<header>

    <div id="header-container" class="container-medium">

        <a href="/" id="woordmerk">
            <h1>BLOCKDAM</h1>
            <h2 class="expanded">Amsterdam's open decentralized autonomous organization</h2>
            <h2 class="shrunk">Amsterdam's open dao</h2>
        </a>

        <nav>
            <ul>
                <li><a href="/manifest">Manifesto</a></li>
                <li><a href="/mee-doen">Mee doen?</a></li>
            </ul>
        </nav>
    </div>

</header>