<header>


    <div id="header-container">

        <!--<img id="background-img" src="https://ucarecdn.com/f841f9e6-526a-435c-993d-1444343ccafb/leidseplein.png" onload="showBackground();"  />-->

        <div id="background-veneer"></div>

        {{> woordmerk }}



    </div>

    {{> nav-shape-expanded }}

    <div id="header-gradient">


    </div>


</header>