<header>

    <div id="header-container" class="container-medium">

        <a href="/" id="woordmerk">
            <h1>BLOCKDAM</h1>
            <h2 class="expanded">A decentralized autonomous experiment</h2>
            <!--<h2 class="shrunk">Amsterdam's open dao</h2>-->
        </a>

        <nav>
            <ul>
                <li><a href="/manifest">Manifest</a></li>
                <li><a href="/participate">Participate?</a></li>
                <li id="metamask">
                    {{> icon-metamask }}
                    <div class="tooltip">
                        <div class="tip"></div>
                        <div id="welcome_message">
                            Welcome <span></span>
                        </div>


                    </div>
                </li>
            </ul>
        </nav>
    </div>

</header>