<section class="container-medium">

    {{#each body.manifest as |point|}}

        <div>
            <span class="manifest-point-heading">{{ point.heading }}</span>
            <span class="manifest-point-text"> {{ point.text }}</span>
        </div>
        
    {{/each}}

</section>