<section id="manifest" class="container-small">

    {{#each body.manifest as |point|}}

        <div class="manifest-point">

            {{> icon-hash }}
           {{#ifMoreThan @index 0}}<span>{{@index}}</span>{{/ifMoreThan}}
            <div class="manifest-point-body">
                 <span class="manifest-point-heading">{{ point.heading }}</span>
                <div class="manifest-point-text"> {{{ point.text }}}</div>
            </div>

        </div>

    {{/each}}

</section>