<section id="manifest" class="container-small">

    {{#each body.manifest as |point|}}

        <div class="manifest-point">
            <div class="manifest-point-count">
                {{> icon-hash }}
                <span>{{indexBump @index}}</span>
                <div class="manifest-point-body">
                     <span class="manifest-point-heading">{{ point.heading }}</span>
                    <div class="manifest-point-text"> {{{ point.text }}}</div>
                </div>
            </div>


        </div>

    {{/each}}

</section>