<div id="menu" class="container">

    <!--<responsiveicon id="hamburger" type="hamburger" size="60" color="#000" *ngIf="screen === 'phone'"></responsiveicon>-->

    <div id="topIJsberg" onclick="menu.openRowOne()">
        <!--  *ngIf="screen !== 'phone'" -->

        <span>Menu</span>

    </div>

    <div id="row_one">

        <ul>
            <li>Home</li>
            <li onclick="menu.openRowTwo()">Cases</li>
            <li>Blogs</li>
            <li>Over Manon</li>
            <li>Contact</li>
        </ul>

    </div>

    <div id="row_two">

        <ul>
            <li>Case 1</li>
            <li>Case 2</li>
            <li>Case 3</li>
            <li>Case 4</li>
            <li>Case 5</li>
            <li>Case 6</li>
            <li>Case 7</li>
            <li>Case 8</li>
        </ul>

    </div>

</div>