<div class="related-posts row row--space-between large-container">
    <div class="col-50">
        {{> card-blog class="blog-card--small blog-card--reverse" post=body.posts.[0] }}
    </div>
    <div class="col-50">
        {{> card-blog class="blog-card--small" post=body.posts.[1] }}
    </div>
</div>
