#dao aside {

  padding-top: 12rem;
  justify-content: flex-start;

  > div  {
    margin: 1rem 3rem;
    display: none;
    flex-direction: column;

    h3  {
      @include uppercase();
      font-size: 1rem;
      line-height: 1.8;
      background: $dark-grey;
      color: #fff;
      padding: 0 1rem;
      margin-bottom: 1rem;
      width: calc(100% - 2rem);
      text-align: center;
    }
    > div {

      @include uppercase();
      font-size: .725rem;

    }

    form {

      position: relative;

      > div {
        display: flex;
        flex-direction: column;
        margin: .25rem 0;

          label {
            @include uppercase();
            font-size: .725rem;
          }

          input {

            height: 1.5rem;
            line-height: 1.5rem;
          }

      }

      button {
        width: 100%;
      }
    }
  }
}