a.block {

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: black;
  border: none;

  h3 {
    line-height: 1.35;
    max-width: 250px;
  }

  span.date, span.author {


    @include numbers-small();
    display: block;
    //font-size: .875rem;

  }
}
