a.block {

  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  color: black;
  border: none;
  background: $dark-grey;
  color: white;
  padding: 1rem 0;

  h2 {
    font-family: Gotham Cond SSm A ,Gotham Cond SSm B;
    font-size: 2.4rem;
    line-height: 1.05;
    font-weight: 400;
    margin-bottom: .25rem;
    letter-spacing: .5px;
  }

  span.date, span.author {

    @include uppercase();
    display: block;
    font-size: .875rem;
  }

  &.longTitle h2 {
    font-size: 1.7rem;
    line-height: 1.12;
  }
}

