a.block {

  display: block;
  text-decoration: none;
  color: black;
  border: none;

  svg {
    height: 100px;
    width: auto;
    position: absolute;
  }

  h3, span.date {
    padding-left: 60px;
  }
}

a:hover {

  background: none;
}