#cases {

  text-align: center;
  display: block;
  position: relative;
  margin-top: 200px;

  .rhombus {

    position: absolute;
    height: 800px;
    width: 800px;
    transform: rotate(45deg);

  }

  #left_block {

    top: 100px;
    left: calc(50% - 660px);
    background: $lichtgeel;
  }

  #right_block {

    top: 100px;
    left: calc(50% - 140px);
    background: $lichtgeel;
  }

  #center_block {

    position: relative;
    background: $geel;
    margin: 120px auto -100px auto;
    padding: 20px 10px;
    display: flex;
    /*		flex-direction: column;
            justify-content: space-around;
            align-items: center;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


  }

  .reverse {

    transform: rotate(-45deg);

  }

  h3 {

    @extend .uni-sans;
    font-size: 36px;
    line-height: 36px;
    margin-left: -6px;


  }

  logo {

    position: absolute;
    top: 10px;
    left: 0px;
    display: block;
    height: 50px;
    width: 70px;

    svg polygon {

      fill: #fff;

    }
  }

  .container {

    @extend .container;
    display: flex;
    flex-wrap: wrap;
    /*	 	background: #000;*/

  }

  .block {

    position: relative;
    width: 180px;
    /* voor middelgrote schermen */
    height: 180px;
    /*	 	perspective: 1000px;*/
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;




  }

  .block.flipside {

    background: $lichtgeel;

  }

  .block:hover .flipper, .block.hover .flipper {

    /*		transform: rotateX(-180deg);*/

    .back { display: flex;  }

    .front img { opacity: 0; }
  }

  /* flip speed goes here */
  .flipper {
    /*transition: 0.25s;
    transform-style: preserve-3d;*/
    position: relative;
    height: 100%;
    background: $lichtgeel;
    /*		transform-origin: 100% 125px;*/
    /*	border: 1px solid #000;*/

  }

  /* hide back of pane during swap */
  .front, .back {
    /*
            backface-visibility: hidden;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* front pane, placed above back */
  .front {
    z-index: 2;
    /* for firefox 31 */
    /*	transform: rotateY(0deg);*/

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;



    img {

      transition: all 250ms ease-in;
      opacity: 1;
      width: auto; height: 260px;  transform: rotate(-45deg);
      /*-webkit-filter: grayscale(100%);*/ /* Chrome, Safari, Opera */
      /*	filter: grayscale(100%);*/
      /*margin-bottom: -5px;*/
    }
  }

  /* back, initially hidden pane */
  .back {
    display: none;
    z-index: 5;
    /*		transform: rotateX(180deg);*/
    background: $lichtgeel;
    /*	display: flex;*/
    justify-content: center;
    align-items: center;

    .title {

      transform: rotate(-45deg);
      @extend .uni-sans;
      font-size: 24px;
      line-height: 32px;
    }

    h3 {  transform: rotate(-45deg); }
  }

}