#dao-bcd-token {

  margin-bottom: 1rem;
  background: $grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width : 100%;
  min-height: 400px;

  h2 {
    width: 100%;
    text-align: center;
  }

  > div.flex-half {

    padding: 1rem;


    ul {
      margin:0 ;
      padding: 0;
      list-style: none;

      li {
        @include uppercase;
        font-size: .75rem;
      }

    }


  }

}