#metamask_private {

  //display: none;
  height: 0;
  transition: height 500ms ease;
  overflow: hidden;
  @include small-sans();

  svg  {

    position: absolute;
    top: .4rem;
    left: -.4rem;
    height: 3rem;
    width: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

}

#metamask_private.visible {
  //display: block;
  height: auto;
  padding: .5rem 1rem .5rem 3rem;
  background: $grey;
  margin-bottom: 1rem;

  span {
    @include uppercase();
    font-size: .85rem;
  }

}