#metamask_private {

  //display: none;
  height: 0;
  transition: height 500ms ease;
  overflow: hidden;

}

#metamask_private.visible {
  //display: block;
  height: auto;
  padding: .5rem 1rem;
  background: $grey;
  color: white;
  margin-bottom: 1rem;

  span {
    @include uppercase();
    font-size: .85rem;
  }

}