#metamask_private {

  //display: none;
  height: 0;
  transition: height 500ms ease;
  overflow: hidden;
  @include small-sans();
  line-height: 1.35;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem .5rem 1rem;
  justify-content: space-between;

  width : calc(100% - 2rem);


  svg  {

    display: none;
    position: absolute;
    top: .25rem;
    left: -.4rem;
    height: 3rem;
    width: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  #network_warning {
    display: none;
  }

}

#metamask_private.visible {
  //display: block;
  height: auto;
  padding: .5rem 1rem .5rem 3rem;
  min-height: 2.5rem;
  //background: $grey;
  //margin-bottom: 1rem;

  svg {
    display: block;
  }

  span {
    //@include uppercase();
    //font-size: .85rem;
  }

}