#dao-bcd-token {

  margin-bottom: 1rem;
  background: $grey;
  display: flex;
  padding: 1rem;
  justify-content: space-between;

  width : calc(100% - 2rem);
  min-height: 300px;


  h2 {
    @include uppercase-large();
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .flex-row {

    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    > div.flex-half {

      padding:  1rem 0rem;
      width : calc(50% - 0rem);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .chart {

        height: 120px;
        margin-bottom: 1rem;

        .total-axis {

          path.domain {
            stroke: none;
          }
        }

        .time-axis {

          text {
            fill: $creme;
          }
        }

        .line {
          fill: none;
          stroke: $creme;
          stroke-width: 2px;
        }
      }


      ul {
        margin:0 ;
        padding: 0 0 0 .5rem;
        list-style: none;
        border-left: 1px solid black;

        li {
          @include uppercase;
          font-size: .75rem;
        }

      }
    }

    .inline_block {

      display: inline-block;
    }
  }

  #personal_info {

    flex-direction: column;
    justify-content: center;
    display: none;
    border-top: 1px solid black;
    padding-top: 1rem;
    @include small-sans();

    > div > span {
      display: inline-block;
      //margin: 0 .125rem;

    }



  }
}