#dao-suber {

  margin-bottom: 1rem;
  background: $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px;

  h2 {
    @include uppercase-large();
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }
}