#donation_button_container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 240px;
  text-align: center;

  span {
    @include small-sans();
    padding: 0 1.5rem;
  }

  svg {
    margin: .5rem 0;
    width: 2.25rem;
    height: auto;
    fill: #333;
    cursor: pointer;

    &:hover {
      fill: black;
    }
  }

  .tooltip {
    
    padding: 1rem;

    form {
      display: flex;
      flex-direction: column;

      input {
        @include uppercase();
        font-size: .725rem;
        line-height: 1.5;
        width: 4rem;
        margin: 0 2rem .75rem 2rem;
      }

      button {
        height: 1.5rem;
      }
    }
  }
}