#donation_button_container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;

  svg {
    width: 2rem;
    height: auto;
    fill: #333;
    cursor: pointer;

    &:hover {
      fill: black;
    }
  }
}