footer {


  display: block;
  margin-top: 9rem;
  padding: 4rem 0 3rem 0;
  overflow: hidden;
  -webkit-clip-path: polygon(50% 0%, 100% 14%, 100% 100%, 0 100%, 0 11%);
  clip-path: polygon(50% 0%, 100% 14%, 100% 100%, 0 100%, 0 11%);


  > div {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  div.footer_half {

    width: calc(100% - 4rem);
    text-align: center;


    @media (min-width : $breakpoint-sm) {

      width: calc(50% - 4rem);
      text-align: left;
    }

    color: white;
    font-size: 1rem;

    a {
      color: white;
      text-decoration: none;
      border: none;
    }

    a:hover {
      border-bottom: 1px solid #fff;
    }
  }


  div.footer_half:first-of-type {

    @media (min-width : $breakpoint-sm) {
      text-align: right;
    }
  }
}