footer {

  background: $grey;
  display: block;
  margin-top: 9rem;
  padding: 3rem 0;

  > div {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  div.half {

    width: calc(50% - 2rem);
  }
}