footer {

  background: $klein;
  display: block;
  margin-top: 9rem;
  padding: 3rem 0;

  > div {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  div.footer_half {

    width: calc(50% - 2rem);
    color: white;

    a {
      color: white;
      text-decoration: none;
      border: none;
    }

    a:hover {

      border: 1px solid #fff;
    }


  }
}