header {



  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 160px;
  display: block;
  background: #fff;
  //overflow: hidden;
  //flex-direction: column;
  //justify-content: flex-start;
  //align-items: center;

  transition: all 200ms ease;

  #header-container {

    position: relative;
    height: 160px;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }



  #woordmerk {


    width: calc(100% - 4rem);
    border: none;
    cursor: pointer;
    transition: all 200ms ease;

    @media (min-width: $breakpoint-sm) {
      width: 600px;
    }


    position: absolute;
    margin: 20px 0 0 0;


    svg {
      width: 100%;
      transform: scale(1);
      transition: all 250ms ease;
    }
  }

  h1 {

      padding-top: 2rem;
  }

}


header.expanded {

  z-index: 1;
  height: calc(100vh + 120px);

  #header-container {
    height: 100vh;
  }
  #background-veneer {
    opacity: .75;
  }

  //svg#woordmerk {
  //  margin: 2rem 0;
  //  transform: scale(1);
  //}
}

header.shrunk {

    height: 100px;
    margin: 0px 0 0 0;

    #header-container {
      height: 100px;
    }

    #woordmerk {

      @media (min-width: $breakpoint-sm) {
        width: 400px;
      }
      margin: 0;
    }

    #nav-shape {
      opacity: 0;
    }
}

