header {



  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 160px;
  display: block;
  transition: all 500ms ease;
  background: #fff;
  //overflow: hidden;
  //flex-direction: column;
  //justify-content: flex-start;
  //align-items: center;

  transition: all 200ms ease;

  #header-container {

    position: relative;
    height: 160px;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }

  #header-gradient {

    height: 100px;
    width: 100%;
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+100,ffffff+100,ffffff+100&1+0,1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  }

  #background-img {

    width: 100%;
    min-height: 100vh;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    margin-top: auto;
    margin-bottom: auto;

    filter: blur(1px);
    opacity: 0;
    transition: opacity 2000ms ease;

  }

  #background-img.visible {
    opacity: 1;
  }

  #background-veneer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    transition: opacity 250ms ease;
    background: #fff;
  }

  #woordmerk {


    width: calc(100% - 4rem);
    border: none;
    cursor: pointer;
    transition: all 200ms ease;

    @media (min-width: $breakpoint-sm) {
      width: 600px;
    }


    position: absolute;
    margin: 20px 0 0 0;


    svg {
      width: 100%;
      transform: scale(1);
      transition: all 250ms ease;
    }
  }

  h1 {

      padding-top: 2rem;
  }

}


header.expanded {

  z-index: 1;
  height: calc(100vh + 120px);

  #header-container {
    height: 100vh;
  }
  #background-veneer {
    opacity: .75;
  }

  //svg#woordmerk {
  //  margin: 2rem 0;
  //  transform: scale(1);
  //}
}

header.shrunk {

    height: 100px;
    margin: 0px 0 0 0;

    #header-container {
      height: 100px;
    }

    #woordmerk {
      width: 400px;
      margin: 0;
    }

    #nav-shape {
      opacity: 0;
    }
}

