
#introduction {

  text-align: center;

  #top {

    position: relative;
    width: 100vw;
    height: 400px;
    background: $lichtgroen;
  }

  #top.highlight {

    background: #f7f7f7;

  }

  .container {

    @extend .container;
    height: 100%;
    /*	display: flex;
        align-items: space-between;
        justify-content: flex-start;*/

  }

  #triangle {

    transition : background-color 500ms ease;
    position: relative;
    z-index: 2;
    margin-left: -100px;
    background-color: $groen;
    /*	background-image:
        repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 240px),
        repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 240px);
        background-size: 280px 480px;*/
    height: 600px;
    width: 67%;
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    overflow: hidden;


    .text {

      @extend .avenir-light;
      position: relative;
      z-index: 3;
      text-align: center;
      //width: 360px;
      /*		height: 100%;*/
      margin: 0 auto 0 auto;
      padding-top: 2rem;
      /*	shape-outside: polygon(100px 0px, 200px 200px, 100px 225px, 0px 200px);
          shape-inside: outside-shape;
          shape-margin: 20px;
          shape-padding: 10px;
          -webkit-shape-inside: outside-shape;
          -webkit-shape-margin: 20px;
          -webkit-shape-padding: 10px;*/

      p {
        margin-bottom: 0 !important;
        -webkit-margin-before: 0 !important;
        -webkit-margin-after: 0 !important;
      }

      a { display: block; margin-top: 1rem; }

    }

    .responsiveimage {

      position: absolute;
      bottom: 0;
      width: auto;
      left: calc(50% - 100px);


      .image_container {

        height: 100%;
        width: auto;

        img {

          transition: opacity 300ms ease-in;
          height: 200px;
          width: auto;
          margin-bottom: -5px;
        }
      }
    }
  }

  /*	#triangle.highlight {

          background-color: #fff;

          .responsiveimage .image_container img { opacity: 0; }
      }*/



  #manon_schuin {

    display: block;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    width: auto;
    height: 100%;


    .image_container img {

      -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
      filter: grayscale(100%);
      height: 100%; width: auto;
      -webkit-clip-path: polygon(0 0, 100% 0, 87% 50%, 100% 100%, 25% 100%, 0 40%);
      clip-path: polygon(0 0, 100% 0, 87% 50%, 100% 100%, 25% 100%, 0 40%);
    }

    .image_container img:hover {

      -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
      filter: grayscale(0%);
      /*-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);*/
    }
  }

  #bottom {

    transition : background 500ms ease;
    position: relative;
    width: 100vw;
    background: $geel;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    /*responsiveicon[type='left'] {

        position: absolute;
        top: 100px;
        left: 0;
    }

    responsiveicon[type='right'] {

        position: absolute;
        top: 100px;
        right: 0;
    }	*/
  }

  #bottom.highlight {


    background: #e7e7e7;
  }

  .quote {

    display: none;
    height: calc(100% - 40px);
    padding: 20px 20px 0 ;
    width: 460px;
    float: right;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .text  { @extend .uni-sans; font-size: 28px; line-height: 36px; }
    .persoon { @extend .uppercase;  }
    .link { @extend .avenir-heavy; }
  }

  .quote.active {

    display: flex;
  }

  @media (max-width: 600px) {


    #top { height: 500px; }

    #manon_schuin {

      position: relative;
      height: 300px;

      .image_container img {

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

      }
    }

    #triangle {

      margin-left: 0px;
      background-color: $groen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      height: 200px;
      width: 100%;

      .text {

        padding: 30px 30px;
        width: calc(100% - 60px);

      }
    }

    .quote {

      height: calc(100% - 60px);
      padding: 30px;
      width: calc(100% - 60px);
      float: none;

    }
  }
}
