svg#logo {

  height: auto;
  width: 100%;

}


.yellow {

  .cls-1{fill:#f0dd3f;}
  .cls-2{fill:#e4bf43;}
  .cls-3{fill:#6f6f6f;}

}



.white {

  .cls-1{ fill:#fff;opacity: 0.5;}
  .cls-2{fill:#fff;}
  .cls-3{fill:#fff;opacity: 0.5; }


}

.black {

  .cls-1{fill:#000;opacity: 0.5;}
  .cls-2{fill:#000;}
  .cls-3{fill:#000;opacity: 0.5; }


}