.manifest-point {

  margin-bottom: 3rem;
}

.manifest-point-body {
  width: 100%;
}


.manifest-point-count {

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;

  svg {

    width: auto;
    height: 2.5rem;
    margin-top: -3px;

  }

  > span {

    display: inline-block;
    @include heavy();
    font-weight: 500;
    font-size: 2rem;
    line-height: .9;
    margin-right: .5rem;
  }

  .manifest-point-heading {
    @include condensed-header();
    font-size: 2rem;
    line-height: .9;
  }

}

  .manifest-point-text {

    padding: 0;
    line-height: 1.35;
    width: 100%;

  }