.manifest-point {

  margin-bottom: 3rem;
}


.manifest-point-count {

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  svg {

    width: auto;
    height: 2rem;
    margin-right: .25rem;

  }

  > span {

    display: inline-block;
    @include heavy();
    font-weight: 500;
    font-size: 2rem;
    line-height: .9;
    margin-right: .25rem;
  }

  .manifest-point-heading {
    @include condensed-header();
    font-size: 2rem;
    line-height: .9;
  }

}