#menu {

  .container {

    @extend .container;
    height: 100%;
  }

  #hamburger {

    position: absolute;
    top: 24px;
    left: 0px;

  }

  #topIJsberg {

    background: $lichtgeel;
    position: absolute;
    bottom: -48px;
    left: 0;
    width: 100px;
    height: 100px;
    -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: flex-end;

    span {

      @extend .uppercase;
      font-size: 14px;
      line-height: 32px;
    }

  }

  #row_one {

    display: none;
    background: $lichtgeel;
    position: absolute;
    z-index: 9;
    opacity: 1;
    bottom: -98px;
    left: 0;
    height: 50px;
    padding-left: 100px;
    width: calc(100% - 100px);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20px 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20px 100%);

    ul li {

      @extend .uppercase;
      display: inline-block;
      margin-right: 30px;
      line-height: 50px;
    }
  }

  #row_one.active {
    display: block;
  }

  #row_two {

    display: none;
    background: $lichtgeel;
    position: absolute;
    z-index: 9;
    opacity: 1;
    bottom: -148px;
    left: 160px;
    height: 50px;
    padding-left: 60px;
    width: calc(100% - 200px);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20px 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20px 100%);

    ul li {

      @extend .uppercase;
      display: inline-block;
      margin-right: 30px;
      line-height: 50px;
    }
  }

  #row_two.active {
    display: block;
  }

}