.post-header {

  margin-bottom: 3rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  .post-intro--author {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    margin-bottom: .5rem;

    .post-intro--author--name {

      @include numbers-small();
      //border-bottom: 4px double black;
    }
  }



 .post-intro--title {


   .taxonomy-tab {
     margin-left: calc(1rem + 10px);
     display: inline-block;
     margin-bottom: .25rem;
   }

   h2 {
     @include heavy();
     font-family: "Gotham Cond SSm A", "Gotham Cond SSm B";
     font-style: normal;
     font-weight: 800;
     font-size: 6rem;
     line-height: .95;
     border-left: 10px solid black;
     padding-left: 1rem;

     //color: white;
     text-transform: uppercase;
     //background: #333;
     //padding: .5rem 1rem;
     //display: inline-block;
     //text-align: center;
   }
   .date {
     display: block;
     @include numbers-small();
     margin-left: calc(1rem + 10px);
   }
 }



}

