#testimonials {
  display: block;
  position: relative;
  z-index: 1;
  background: $geel;
  min-height: 300px;
}


#testimonial_container {
  padding: 70px 0; }
#testimonial_container > div > div {

  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px; }
#testimonial_container > div > div.active {
  display: flex;
}
#testimonial_container > div > div .testimonial-image {
  width: 180px; }
#testimonial_container > div > div .testimonial-image img {
  width: 100%;
  height: auto; }
#testimonial_container > div > div .testimonial-text {
  width: calc(100% - 180px - 2rem); }
#testimonial_container h3 {
  margin: 0;
  font-size: 28px;
  line-height: 36px;
  margin: 12px 0 24px 0;
  width: 100%; }
#testimonial_container p {
  margin: 0;
  margin-bottom: 24px; }
#testimonial_container span.auteur {
  margin: 0; }

#TOCContainer {
  position: absolute;
  width: 50vw;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
  filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0, 0.3)); }
#TOCContainer #TOC {
  position: absolute;
  width: 100%;
  top: 0;
  background: #fff;
  overflow: hidden; }
#TOCContainer #TOC responsiveicon {
  display: inline-block;
  margin: 0 0 0 20px; }
#TOCContainer #TOC responsiveicon .icon-container {
  width: 40px;
  height: 40px; }
#TOCContainer #TOC responsiveicon .icon-container .svg-icon {
  height: 24px;
  width: auto; }
#TOCContainer #TOC .uppercase {
  line-height: 40px;
  vertical-align: super;
  font-size: 13px; }
#TOCContainer #TOC ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 365px;
  position: absolute;
  left: calc(25% + 10px);
  top: 40px;
  bottom: 20px;
  overflow-y: scroll; }
#TOCContainer #TOC ul li {
  margin: 0;
  padding: 0px 20px 20px 10px;
  pointer: cursor; }

@media (max-width: 1279px) {
  #testimonial_container {
    padding: 70px 0; }
  #testimonial_container > div > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px; }
  #testimonial_container > div > div .testimonial-image {
    width: 180px; }
  #testimonial_container > div > div .testimonial-image img {
    width: 100%;
    height: auto; }
  #testimonial_container > div > div .testimonial-text {
    width: calc(100% - 180px - 2rem); }
  #testimonial_container h3 {
    margin: 0;
    font-size: 28px;
    line-height: 36px;
    margin: 12px 0 24px 0;
    width: 100%; }
  #testimonial_container p {
    margin: 0;
    margin-bottom: 24px; }
  #testimonial_container span.auteur {
    margin: 0; }
  #TOCContainer {
    position: absolute;
    width: 50vw;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
    filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0, 0.3)); }
  #TOCContainer #TOC {
    position: absolute;
    width: 100%;
    top: 0;
    background: #fff;
    overflow: hidden; }
  #TOCContainer #TOC responsiveicon {
    display: inline-block;
    margin: 0 0 0 20px; }
  #TOCContainer #TOC responsiveicon .icon-container {
    width: 40px;
    height: 40px; }
  #TOCContainer #TOC responsiveicon .icon-container .svg-icon {
    height: 24px;
    width: auto; }
  #TOCContainer #TOC .uppercase {
    line-height: 40px;
    vertical-align: super;
    font-size: 13px; }
  #TOCContainer #TOC ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 365px;
    position: absolute;
    left: calc(25% + 10px);
    top: 40px;
    bottom: 20px;
    overflow-y: scroll; }
  #TOCContainer #TOC ul li {
    margin: 0;
    padding: 0px 20px 20px 10px;
    pointer: cursor; } }

@media (max-width: 767px) {
  #testimonial_container {
    padding: 70px 0; }
  #testimonial_container > div > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px; }
  #testimonial_container > div > div .testimonial-image {
    width: 180px; }
  #testimonial_container > div > div .testimonial-image img {
    width: 100%;
    height: auto; }
  #testimonial_container > div > div .testimonial-text {
    width: calc(100% - 180px - 2rem); }
  #testimonial_container h3 {
    margin: 0;
    font-size: 28px;
    line-height: 36px;
    margin: 12px 0 24px 0;
    width: 100%; }
  #testimonial_container p {
    margin: 0;
    margin-bottom: 24px; }
  #testimonial_container span.auteur {
    margin: 0; }
  #TOCContainer {
    position: absolute;
    width: 90vw;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
    filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0, 0.3)); }
  #TOCContainer #TOC {
    position: absolute;
    width: 100%;
    top: 0;
    background: #fff;
    overflow: hidden; }
  #TOCContainer #TOC responsiveicon {
    display: inline-block;
    margin: 0 0 0 20px; }
  #TOCContainer #TOC responsiveicon .icon-container {
    width: 40px;
    height: 40px; }
  #TOCContainer #TOC responsiveicon .icon-container .svg-icon {
    height: 24px;
    width: auto; }
  #TOCContainer #TOC .uppercase {
    line-height: 40px;
    vertical-align: super;
    font-size: 13px; }
  #TOCContainer #TOC ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 365px;
    position: absolute;
    left: calc(25% + 10px);
    top: 40px;
    bottom: 20px;
    overflow-y: scroll; }
  #TOCContainer #TOC ul li {
    margin: 0;
    padding: 0px 20px 20px 10px;
    pointer: cursor; }
  #testimonial_container {
    padding: 70px 20px;
    width: calc(100% - 40px); }
  #testimonial_container > div > div .testimonial-image {
    width: 60px; }
  #testimonial_container > div > div .testimonial-image img {
    width: 100%;
    height: auto; }
  #testimonial_container > div > div .testimonial-text {
    width: calc(100% - 60px - 1rem); } }