<a class="comment-card">
    <svg class="comment-backdrop" width="1" height="1" viewBox="0 0 1 1" preserveAspectRatio="none">
        <defs>
            <clipPath id="comment-card-clip-path" clipPathUnits="objectBoundingBox">
                <polygon points="0 0, 1 0.1, 1 1, 0 .9"></polygon>
            </clipPath>
        </defs>
        <rect x="0" y="0" width="1" height="1" clip-path="url(#comment-card-clip-path)"></rect>
    </svg>
    <span class="comment-card-text bold">“Volgens de planning zou de glazen kap vanaf 6 maart 2017 geplaatst worden. Hopelijk doet de webcam het snel weer. Eerst maken we nog een tijdelijke trap op deze plek.”</span>

    <svg class="comment-card-extension" width="46px" height="29px" viewBox="0 0 46 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none">
        <polygon id="Rectangle-8" points="0 27.265625 45.1523437 0 45.1523438 28.1542719"></polygon>
    </svg>
    <span class="comment-card-author">
        <span class="author">Jan de Wit</span>
        <span class="datetime smallerfont">30 maart 2017  10:12</span>
    </span>
</a>