<!DOCTYPE html>
<html>
{{> head}}


<body id="homepage">

{{> header }}

<main>

    <section id="section-magazine" class="section-half"></section>

    <section id="section-community" class="section-half"></section>

</main>

{{> footer }}
</body>
</html>
