<!DOCTYPE html>
<html>
{{> head}}


<body id="homepage">

{{> header }}

<main>

    <div class="container-medium">

        <section id="section-magazine" class="section-half">

            <div id="featured-blog" class="block">
                featured blog
            </div>

            <div id="recent-comments" class="block">
                recent comments
            </div>

            <div class="flex-row">

                <div id="blog-list">


                </div>


                <div id="curated-list">


                </div>

            </div>

        </section>

        <section id="section-community" class="section-half">

            <div id="dao-block">
                dao dashboard
            </div>

            <div id="community-block">
                community
            </div>


        </section>

    </div>

</main>

{{> footer }}
</body>
</html>
