<!DOCTYPE html>
<html>
{{> head}}


<body id="homepage">

{{> header }}

<main>

    <div class="container-medium">

        <section id="section-magazine" class="section-half">

            <div class="block">
                hoi
            </div>

        </section>

        <section id="section-community" class="section-half">

            <div id="community-block">
                hoi
            </div>


        </section>

    </div>

</main>

{{> footer }}
</body>
</html>
