<!DOCTYPE html>
<html>
{{> head}}
<body id="homepage">

    {{> header }}

    <main id="main">

        <div id="starting-points-container">
            {{> starting-points }}
        </div>

        <div id="homepage-top-grid">

			{{> introduction }}
            {{> featured-blog }}

            <div id="news-container-portrait">
                {{> blog-card class="blog-card--mini" blog=body.posts.[0]}}
                {{> blog-card class="blog-card--mini" blog=body.posts.[1]}}
                {{> blog-card class="blog-card--mini" blog=body.posts.[2]}}
            </div>

            <div id="news-container">
                {{> blog-card class="blog-card--mini" blog=body.posts.[0]}}
                {{> blog-card class="blog-card--mini" blog=body.posts.[1]}}
                {{> blog-card class="blog-card--mini" blog=body.posts.[2]}}
                {{> blog-card class="blog-card--mini" classs="extra" blog=body.posts.[3]}}
                {{> blog-card class="blog-card--mini" classs="extra" blog=body.posts.[4]}}
                {{> blog-card class="blog-card--mini" classs="extra" blog=body.posts.[5]}}
                {{> archive-link }}
            </div>

        </div>

        <div class="full-width">
            {{> floating-header text='Sensire in gesprek' id='in-conversation'}}

        </div>

        {{> mashup-filter}}

        <div id="homepage-mashup-grid">
            {{> comment-static thread=body.comments.[0] }}
            {{> social social=body.socials.[0] }}
            {{> review review=body.reviews.[0] }}
            {{> review review=body.reviews.[1] }}
            {{> social social=body.socials.[1] }}
            {{> review review=body.reviews.[2] }}
            {{> comment-static thread=body.comments.[1] }}
            {{> social social=body.socials.[2] }}

            <!-- additional content for filters -->

                {{> review review=body.reviews.[3] }}
                {{> review review=body.reviews.[4] }}
                {{> review review=body.reviews.[5] }}
                {{> review review=body.reviews.[6] }}
                {{> review review=body.reviews.[7] }}

                {{> social social=body.socials.[3] }}
                {{> social social=body.socials.[4] }}
                {{> social social=body.socials.[5] }}
                {{> social social=body.socials.[6] }}
                {{> social social=body.socials.[7] }}

                {{> comment-static thread=body.comments.[2] }}
                {{> comment-static thread=body.comments.[3] }}
                {{> comment-static thread=body.comments.[4] }}
                {{> comment-static thread=body.comments.[5] }}
                {{> comment-static thread=body.comments.[6] }}
                {{> comment-static thread=body.comments.[7] }}

            <!-- -->
        </div>

        <div id="location-header-container">
            {{> floating-header text='Onze locaties' id='locations' class='floating-header--white'}}
        </div>

        <div id="homepage-map-grid">
            {{> map zoom=9.5 homesVisible=true areasVisible=true list=false showFilter=false zoomButtonsPosition="bottom-left" referenceList=true }}
            {{> homes-list }}
			{{> tile tile=body.volunteersPage class="volunteers-tile tile--small" }}
			{{> tile tile=body.qualityWindowPage class="quality-window-tile tile--small" }}
			{{> products-list }}
        </div>

    </main>

    {{> footer }}

</body>
</html>
