<!DOCTYPE html>
<html>

{{> head}}

<body id="blog">

    {{> header }}

    <main id="main">

        <div class="container">

            <div class="post-header">

                <div class="typo-date">{{formatDate body.date 'YYYY-MM-DD hh:mm'}}</div>
                <h1>{{body.title}}</h1>

            </div>
        </div>

        {{> sections }}

    </main>

</body>

</html>
