.section.paragraph {

  p {
    margin-bottom: 1.5rem;
  }


  h2 {
    //@include condensed-header();
    @include bodyTextBold();
    font-size: 1.7rem;
    line-height: 1.5;

  }

  h3 {

    @include bodyTextBold();

  }


  h4{}


  ul {
    list-style: circle;
    margin-bottom: 3rem;
  }

  li {
  }
}