.section.paragraph {

  p {
    margin-bottom: 1.5rem;
  }


  h2 {
    //@include condensed-header();
    @include bodyTextBold();
    text-transform: uppercase;
    font-size: 1.25rem;

  }

  h3 {

    //@include bodyTextBold();
   // font-family: Gotham SSm A,Gotham SSm B;
    font-style: normal;
    font-weight: 600;
    line-height: 1.35;
    font-size: 1.8rem;
    font-family: "Gotham Cond SSm A", "Gotham Cond SSm B";
    letter-spacing: .5px;
    //padding-bottom: .125rem;

  }


  h4{}


  ul {
    list-style: circle;
    margin-bottom: 3rem;
  }

  li {
  }
}