.section.paragraph {

  p {
    margin-bottom: 1.5rem;
  }


  h2 {
    //@include condensed-header();
    @include bodyTextBold();
    text-transform: uppercase;
    font-size: 1.25rem;

  }

  h3 {

    @include bodyTextBold();
    font-size: 1.3rem;

  }


  h4{}


  ul {
    list-style: circle;
    margin-bottom: 3rem;
  }

  li {
  }
}