
.section.quote {

  padding: 3rem 0;

  svg {
    width: 3rem;
    height: auto;
    margin: 0 1rem;
  }

  svg:first-of-type {
    transform: scaleY(-1);
  }

  svg:last-of-type {
    transform: scale(-1);
  }

  .quote__text {

    font-family: "Mercury Display A", "Mercury Display B";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.25;
    text-align: center;
  }
}