
.section.streamer {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 4rem auto;

  > div {

    font-family: "Mercury Display A", "Mercury Display B";
    font-size: 4rem;
    line-height: 1;
    font-weight: 400;
    font-style: italic;
    max-width: 777px;
  }

}