.event-info {

  background: $secondary;
  padding: 2rem;

  h3 {
    @include condensed-header();
    margin-top : 1.77rem;

    &:first-of-type {
      margin-top: 0;
    }
  }

  ul {
    list-style-type: none;
  }

  .tab {

    display: inline-block;
    background: $dark-grey;
    color: $creme;
    padding: .25rem .45rem;
    margin-right: .25rem;
    cursor: pointer;
    transition: all 100ms ease;
    //margin-bottom: .25rem;

    @include uppercase-small();


    &.creme {
      background: $creme;
      color: $dark-grey;
    }

    &:hover {

      transform : scaleY(-1);
    }
  }
}