#blog {

  article {
    margin: 4rem 0;
  }
}

#related-posts {

  .large-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    .block {

      position: relative;
      width: calc((100% / 3) - (1.5rem));
    }
  }
}