
#homepage {

  main {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (min-width : $breakpoint-sm) {
      //margin-top: 3rem;
    }
  }

  .container-medium {

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .section-half {

      width: calc(50% - .5rem);
      position: relative;
    }

  }

  #section-magazine {

    .block {
      min-height: 300px;
      background: $grey;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
    }

    #blog-list {

      width: calc(60% - .5rem);
      min-height: 600px;

      .block {
        min-height: 200px;
      }
    }

    #curated-list {

      width: calc(40% - .5rem);
      background: $grey;
      min-height: 600px;
    }
  }

  #section-community {

    #community-block, #dao-block {
      min-height: 1000px;
      background: $grey;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #dao-block {
      min-height: 500px;
      margin-bottom: 1rem;
    }

  }



  .third {

    width: 100vw;
    padding-bottom: 3rem;


    @media (min-width : $breakpoint-sm) {

      width: calc(100vw / 2);
    }


    @media (min-width : $breakpoint-lg) {

      width: calc(100vw / 3);
    }



      h2 {
        color: black;
        @include bodyTextBold();
        text-transform: uppercase;
        margin-bottom: 3rem;
      }


    &#about-section {

      @media (min-width : $breakpoint-sm) {

        width: calc(100vw);
        display: flex;
        flex-direction: row;

          > div  {
            width: calc(50% - 4rem);
          }

          > div:first-of-type {
            width: 50%;
          }
      }


      @media (min-width : $breakpoint-lg) {

        width: calc(100vw / 3);
        flex-direction: column;

        > div {
          width: calc(100% - 4rem);
        }

        > div:first-of-type  {
          width: 100%;
        }

      }
    }
  }

  .third-top-image {

    width: 100%;

    height: calc(2 * (100vw / 3));


    @media (min-width : $breakpoint-sm) {

      height: calc(2 * (50vw / 3));
    }

    @media (min-width : $breakpoint-lg) {
      height: calc(2 * (100vw / 9));
    }

    overflow: hidden;

      > img  { height: 100%;  width: auto; }

  }

  .third-list {

    padding: 2rem 2rem;


    .more-link {

      border: none;
      text-transform: lowercase;
      background: white;
      color: white;
      border-radius: 4px;
      padding: .33rem .75rem;
      font-size: .75rem;
      text-transform: uppercase;
      transition: all 250ms ease;
    }

    .more-link:hover {
      padding: .25rem 1.25rem .25rem .75rem;
      color: white !important;
    }

    &.blog-list {

      text-align: right;
      border-right: 1px solid #999;

        a.blog_teaser {
          display: block;
          margin: 0rem 0 3rem 0;
          text-decoration: none;
          border: none;
          color: black;
          padding-left: 4rem;

          .date {

           @include numbers-small();

          }
          h3 {

            @include bodyTextBold();
            //color: $klein;
            margin-bottom: 1rem;

          }

          p {
            font-size: 1rem;
            line-height: 1.55;
            margin: 0;
          }


        }

        a:hover  {
          color: black;
        }

        .more-link {
          text-align: right;
        }
    }

    &.project-list {

      h3 {

        @include bodyTextBold();
        //color: $klein;
        margin-bottom: 1rem;

      }

      ul {
        list-style: circle;
        margin-bottom: 3rem;
        margin-left: 1rem;

          li {
            font-size: 1rem;
            line-height: 1.55;

          }
      }
    }

    &.about-list {

      text-align: right;

      .quote {

        display: block;
        @include bodyTextBold();
        color: black;
        text-transform: uppercase;
        margin-bottom: 3rem;
      }

      ul {
        list-style: none;
        margin-bottom: 3rem;

        li {
          font-size: 1rem;
          line-height: 1.55;
        }
      }

      a {
        color: black;
        border: none;
        text-decoration: none;
      }
      a:hover  {
        color: black;
      }

    }
  }

}