

#homepage {

  h1 {
    position: relative;
  }

  article {
    margin: 6rem 0;

      .post-header {
        margin-bottom: 2.4rem;

        h2 {
          font-size: 3rem;
        }
      }

      .post-intro {

        p {
          margin-bottom: 1rem;
        }

        p:first-of-type {

          @include bodyText();
        }
      }


    a {
      text-decoration: none;
      color: $klein;
      font-family: Gotham SSm A,Gotham SSm B;
      font-style: normal;
      font-weight: 600;
      //font-size: 1rem;
      //line-height: 1.6;
      border: none;
      text-transform: lowercase;

    }

    a:hover {
      background: none;
    }
  }
}