#page {

  main {
<<<<<<< HEAD
    margin-top: 2rem;

    article {
      margin: 4rem 0;
    }
=======

>>>>>>> 520bbbdde1a47787279b15241fc2535f63369e90
  }

  .post-header {

<<<<<<< HEAD
    margin-bottom: 4rem;

    .date {
      @include lowercase-heavy();
      //text-transform: uppercase;
      line-height: 1.2;
      font-size: 3.4rem;
      max-width: 777px;
      color: $klein;
    }

    h2 {
      font-family: Gotham Cond SSm A,Gotham Cond SSm B;
      font-style: normal;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 2.5rem;
      line-height: 1.2;
      max-width: 777px;
      margin-top: .5rem;
      color: black;
    }
=======
>>>>>>> 520bbbdde1a47787279b15241fc2535f63369e90
  }
}