#blog {


  .diamond  {

    width: 6rem;
    height: 6rem;
    transform: rotate(45deg);
    overflow: hidden;
    margin-top: 2rem;
    border: 6px double black;

    > * {
      transform: rotate(-45deg);
      width: 150%;
      height: 150%;
      max-width: 200%;
      margin-top: -25%;
      margin-left: -25%;
    }

  }

  article {
    margin: 4rem 0;
  }
}

#related-posts {

  display: block;
  margin-top: 14rem;
  margin-bottom: 6rem;

  .container-large {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    .block {

      position: relative;
      width: calc((100% / 2) - (2rem));
      padding: 1rem;
    }
  }
}