#blog {

  article {

    @media (min-width: $breakpoint-sm) {
      margin: 4rem 0;
    }
  }

  aside {

    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-sm) {

      position: fixed;
      z-index: 9;
      top: 0rem;
      right: 2rem;
      height: 100%;
      justify-content: center;

      &.absolute {
        position: absolute;
      }
    }
  }
}

#related-posts {

  display: block;
  margin-top: 14rem;
  margin-bottom: 6rem;

  .container-large {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    .block {

      position: relative;
      width: calc((100% / 2) - (2rem));
      padding: 1rem;
    }
  }
}