#blog {


  .diamond  {

    position: relative;
    width: 6rem;
    height: 6rem;
    transform: rotate(45deg);
    margin-left: 1.125rem;
    margin-bottom: 1.5rem;
    border: 4px double black;

    > div {

      position: relative;
      width: calc(100% - .5rem);
      height: calc(100% - .5rem);
      margin : .25rem;
      overflow: hidden;

      > * {
        transform: rotate(-45deg);
        width: 150%;
        height: 150%;
        max-width: 200%;
        margin-top: -25%;
        margin-left: -25%;
        filter : grayscale(1);
      }
    }
  }


  .post-intro--author {

    margin-bottom: .5rem;

    .post-intro--author--name {

      @include numbers-small();
      //border-bottom: 4px double black;
    }
  }

  article {
    margin: 4rem 0;
  }
}

#related-posts {

  display: block;
  margin-top: 14rem;
  margin-bottom: 6rem;

  .container-large {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    .block {

      position: relative;
      width: calc((100% / 2) - (2rem));
      padding: 1rem;
    }
  }
}