<<<<<<< HEAD
$klein : #002fa7;
=======
$groen: #A9BE73;
$lichtgroen : #D4DFB9;

$donkergeel : #E1BF0F;
$geel : #F0DD3F;
$lichtgeel : #FBF7CF;

$wit :  #fff;
$zwart : #333;
>>>>>>> 520bbbdde1a47787279b15241fc2535f63369e90
