/*@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=9841c406-5517-4056-b4cc-c36e88db3a07");*/

@font-face{
  font-family:"Avenir LT W01_35 Light1475496";
  src:url("../../../assets/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix");
  src:url("../../../assets/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix") format("eot"),url("../../../assets/fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"),url("../../../assets/fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff"),url("../../../assets/fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf") format("truetype"),url("../../../assets/fonts/b0268c31-e450-4159-bfea-e0d20e2b5c0c.svg#b0268c31-e450-4159-bfea-e0d20e2b5c0c") format("svg");
}
@font-face{
  font-family:"Avenir LT W01_35 Light_1475502";
  src:url("../../../assets/fonts/63a166cb-be60-435c-a056-75172e43efa5.eot?#iefix");
  src:url("../../../assets/fonts/63a166cb-be60-435c-a056-75172e43efa5.eot?#iefix") format("eot"),url("../../../assets/fonts/a59168c1-917d-4de9-a244-0316c057c357.woff2") format("woff2"),url("../../../assets/fonts/6dc0e7d8-9284-44e1-8f05-984a41daa3a4.woff") format("woff"),url("../../../assets/fonts/2315df7a-8bc2-433d-bf0a-162fc0063de0.ttf") format("truetype"),url("../../../assets/fonts/7b1e5b2a-b6a6-43da-9021-ada6d1d797f2.svg#7b1e5b2a-b6a6-43da-9021-ada6d1d797f2") format("svg");
}
@font-face{
  font-family:"Avenir LT W01_45 Book1475508";
  src:url("../../../assets/fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix");
  src:url("../../../assets/fonts/710789a0-1557-48a1-8cec-03d52d663d74.eot?#iefix") format("eot"),url("../../../assets/fonts/065a6b14-b2cc-446e-9428-271c570df0d9.woff2") format("woff2"),url("../../../assets/fonts/65d75eb0-2601-4da5-a9a4-9ee67a470a59.woff") format("woff"),url("../../../assets/fonts/c70e90bc-3c94-41dc-bf14-caa727c76301.ttf") format("truetype"),url("../../../assets/fonts/0979215b-3a1b-4356-9c76-e90fa4551f1d.svg#0979215b-3a1b-4356-9c76-e90fa4551f1d") format("svg");
}
@font-face{
  font-family:"Avenir LT W01_45 Book O1475514";
  src:url("../../../assets/fonts/d8c50fcc-bc32-4f31-8c24-b170c64e2254.eot?#iefix");
  src:url("../../../assets/fonts/d8c50fcc-bc32-4f31-8c24-b170c64e2254.eot?#iefix") format("eot"),url("../../../assets/fonts/476612d9-282d-4f76-95cd-b4dd31e7ed21.woff2") format("woff2"),url("../../../assets/fonts/f1ebae2b-5296-4244-8771-5f40e60a564a.woff") format("woff"),url("../../../assets/fonts/04d1bf6c-070d-4b7e-9498-6051c9f0c349.ttf") format("truetype"),url("../../../assets/fonts/d0a3e813-1257-4b66-812a-36101faa0fb3.svg#d0a3e813-1257-4b66-812a-36101faa0fb3") format("svg");
}
@font-face{
  font-family:"Avenir LT W01_85 Heavy1475544";
  src:url("../../../assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix");
  src:url("../../../assets/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot"),url("../../../assets/fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"),url("../../../assets/fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff"),url("../../../assets/fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf") format("truetype"),url("../../../assets/fonts/20577853-40a7-4ada-a3fb-dd6e9392f401.svg#20577853-40a7-4ada-a3fb-dd6e9392f401") format("svg");
}
@font-face{
  font-family:"Uni Sans W01 Book";
  src:url("../../../assets/fonts/d1dfd0ce-81f9-499f-b472-f6f4c05173db.eot?#iefix");
  src:url("../../../assets/fonts/d1dfd0ce-81f9-499f-b472-f6f4c05173db.eot?#iefix") format("eot"),url("../../../assets/fonts/db59f3bd-4783-4273-85c6-3d7e5717bc8c.woff2") format("woff2"),url("../../../assets/fonts/bdf1a4f0-61ef-4546-9e2c-2aefea5a608c.woff") format("woff"),url("../../../assets/fonts/82221bc4-52b7-4234-82e8-e2d4ecef764c.ttf") format("truetype"),url("../../../assets/fonts/d7784e6b-6cca-4659-bbf7-4c31949a977e.svg#d7784e6b-6cca-4659-bbf7-4c31949a977e") format("svg");
}
@font-face{
  font-family:"Uni Sans W01 Book Italic";
  src:url("../../../assets/fonts/b6e37a70-cd29-446b-974b-59bf6cd49e01.eot?#iefix");
  src:url("../../../assets/fonts/b6e37a70-cd29-446b-974b-59bf6cd49e01.eot?#iefix") format("eot"),url("../../../assets/fonts/fa52b546-689b-47c0-b500-d5b608e879d2.woff2") format("woff2"),url("../../../assets/fonts/28966b50-1e6b-490a-80b5-5671a717f799.woff") format("woff"),url("../../../assets/fonts/7449b200-29db-4ca1-976d-4e89b4703275.ttf") format("truetype"),url("../../../assets/fonts/eead660f-4764-4357-b8a0-fd4660e3b7b1.svg#eead660f-4764-4357-b8a0-fd4660e3b7b1") format("svg");
}

@font-face{
  font-family:"Uni Sans W01 Semibold";
  src:url("../../../assets/fonts/a851d521-7acb-47ab-82ca-e2a1cfac3269.eot?#iefix");
  src:url("../../../assets/fonts/a851d521-7acb-47ab-82ca-e2a1cfac3269.eot?#iefix") format("eot"),url("../../../assets/fonts/8771feb0-3e99-410e-9d9f-d1139d13db7e.woff2") format("woff2"),url("../../../assets/fonts/ed5f254d-805e-404b-9f69-1b210968e58a.woff") format("woff"),url("../../../assets/fonts/c049e919-6dfb-4001-854c-ec02f1d98ef3.ttf") format("truetype"),url("../../../assets/fonts/54bb561b-c20d-4ba9-bdf6-e911dff488b2.svg#54bb561b-c20d-4ba9-bdf6-e911dff488b2") format("svg");
}



