
@mixin bodyText {

    font-family: "Mercury SSm A", "Mercury SSm B";
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.7;

}

@mixin bodyTextBold {

    font-family: "Mercury SSm A", "Mercury SSm B";
    font-style: normal;
    font-weight: 700;
    font-weight: 600;
    font-size: 1.44rem;
    line-height: 1.5;

}

@mixin heavy {

       font-family: "Gotham SSm A", "Gotham SSm B";

       font-style: normal;
       font-weight: 800;
       font-size: 4rem;
       line-height: 1.05;

       i {
        font-style: italic;
       }

}


@mixin condensed-book {

       font-family: "Gotham Cond SSm A", "Gotham Cond SSm B";
       text-transform: uppercase;
       font-style: normal;
       font-weight: 400;
       font-size: 4rem;
       line-height: 1.1;

}

@mixin condensed-header {

       font-family: "Gotham Cond SSm A", "Gotham Cond SSm B";
       font-style: normal;
       font-weight: 600;
       font-size: 1.125rem;
       line-height: 1.77;

}

@mixin numbers-small {

      font-family: "Gotham SSm A", "Gotham SSm B";

      font-weight: 300;
      font-size: 1rem;
      line-height: 1.66;
      text-transform: uppercase;
      letter-spacing: 1.5px;

}

body {

    @include bodyText();
}

a {
    color: black;
    border-bottom: 1px solid #000;
    text-decoration: none;

}

a:hover {
    color: #fff;
    text-decoration: none;
    background: black;
}