#comment-section {

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  //min-height: 30rem;
  padding: 3rem 0;

  #respondcontainer {

      width: 100%;
  }

  svg {

    position: absolute;
    top: 6rem;
    left: 0;
    transform: scaleX(-1);
  }


  h2 {

    font-style: normal;
    font-weight: 700;
    line-height: 1.35;
    font-size: 1.8rem;
    font-family: Gotham Cond SSm A,Gotham Cond SSm B;
    letter-spacing: .5px;
    padding-bottom: .125rem;

  }

  h3 {

    align-self: flex-start;
    margin-bottom: 0rem;
  }


}

.thread {

  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 1rem;

}

.comment-shape-container {

  display: none;
  //position: absolute;
  //right: -.6rem;
  //top: 1.45rem;
  //width: calc(.5rem + 1px);
  //height: 2rem;
  //overflow: hidden;
  //transform: scaleX(-1.25) scaleY(1.25);

}

.comment-shape {

  //position: absolute;
  //left: .25rem;
  //top: 0rem;
  //width: 1rem;
  //height: 1rem;
  //background: $white;
  //border: 1px solid $grey;
  //transform: rotate(45deg);
}