.comment {

  position: relative;
  width: calc(100% - 12rem);
  //margin-right: 6rem;
  align-self: flex-end;
  margin-bottom: 1rem;
  padding: .5rem 0 1rem 1.5rem;
  border: 1px double #d5d5d5;


  @media (max-width: $breakpoint-bax) {
    width: calc(100% - 12rem);
  }
  @media (max-width: $breakpoint-sm) {
    width: calc(100% - 4rem);
    margin-right: 2rem;
  }

  .hidden-anchor {
    position : absolute;
    top: -5rem;
    margin-top: -5rem;
  }

  h4 {

    margin-bottom: .5rem;
  }

  .text-balloon {

    position: absolute;
    top: 2rem;
    left: -.8rem;
    width: 1.5rem;
    height: 1.5rem;
    border-bottom: 1px solid $black;
    border-left: 1px solid $black;
    background: $white;
    transform: rotate(45deg);
  }

  .datetime {

    display: block;
    @include uppercase();
    //font-size: .85rem;
    margin-bottom: .5rem;
    display: inline-block;
    //background: #d5d5d5;
    //padding: 0 .5rem;

  }

  .thread-reply {

    display: none;
    position: absolute;
    bottom: -2.5rem;
    margin-top: 1rem;
    //background: $secondary;

    padding: 0 .75rem;
    @include uppercase();
    font-size: .85rem;
    cursor: pointer;
    padding-left: 2rem;

    svg {
      width: 1.5rem;
      height: auto;
      position: absolute;
      top: 0.1rem;
      left: 0;
    }
  }

  .rating-container {

    display: none;
    position: absolute;
    left: -4rem;
    top: -.25rem;
    cursor: pointer;

    flex-direction: row;

      .rating-value {

            display: inline-block;
            margin-right: .75rem;
            line-height: 2rem;
      }

      .rating-button {

        display: flex;
        flex-direction: row;
        width: 2rem;
        height: 2rem;
        justify-content: center;
        align-items: center;
        position: relative;

        svg {

          width: 1.5rem;
          height: auto;
        }

        //.circle {
        //
        //  position: absolute;
        //  top: -.25rem;
        //  left: -.25rem;
        //  width: 2.5rem;
        //  height: 2.5rem;
        //  border-radius: 100%;
        //  background: $secondary;
        //
        //}

        span {

          position: relative;
        }
      }

  }

  .author-thumbnail-container {

    position: absolute;
    top: 0rem;
    right: -6rem;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    overflow: hidden;

    img {

      width: 100%;
    }
  }
}

.comment:first-of-type {

  width: calc(100% - 6rem);
  align-self: flex-end;
  margin-right: 0;

  @media (max-width: $breakpoint-sm) {
    width: calc(100% - 2rem);
  }

  //.comment-shape-container {
  //
  //  left: -.6rem;
  //  right: auto;
  //  transform: scaleX(1.25) scaleY(1.25);
  //}

  //.comment-shape {
  //
  //  border-color: $secondary;
  //
  //}

  .thread-reply {

      display: inline-block;
  }

  .rating-container  {

    display: flex;
  }

  .author-thumbnail-container {

    right: auto;
    left: -6rem;
  }
}
